# Node modules
node_modules/

#original one to run it locally
package-security_copy.json

#original tsconfig to run it locally
tsconfig-security_copy.json

# Build output
dist/
build/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Otros
*.tsbuildinfo
